html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

html,
body {
  font-family: 'Source Code Pro', monospace;
  height: 100%; }

body {
  color: #000;
  background-color: #FFF; }

ul {
  margin: 0;
  padding: 0; }

a {
  transition: color .3s ease;
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #F0C27B; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.red {
  color: #F9283A; }

.underline {
  cursor: pointer;
  text-decoration: underline; }

.crispy {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased; }

.page-container {
  padding-bottom: 350px; }
  @media only screen and (max-width: 600px) {
    .page-container {
      padding-bottom: 0; } }

.introduction {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 85vh;
  background: url("https://s3.amazonaws.com/turkey2015/Cappadocia/DSCF7856.jpg") center center no-repeat;
  background-size: cover; }

.gif {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -6px;
  bottom: 0;
  left: -6px;
  width: calc(100% + 12px);
  height: 100%;
  transition: opacity .7s ease;
  opacity: 0;
  background: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/slideshow.gif") center center no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 600px) {
    .gif {
      display: none;
      visibility: hidden; } }
  .gif.show {
    opacity: 1; }

.ambient {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: #000; }

.text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 600px) {
    .text {
      left: 0;
      width: 75%;
      padding: 0 30px;
      text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
      -webkit-font-smoothing: antialiased; } }

p {
  font-size: 22px;
  line-height: 1.1;
  width: 100%;
  margin: 0;
  color: white; }
  @media only screen and (max-width: 600px) {
    p {
      font-size: 18px;
      margin-bottom: 20px; } }

.footer {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/black.jpg") center center no-repeat;
  background-color: black;
  background-size: cover; }
  @media only screen and (max-width: 600px) {
    .footer {
      position: static;
      height: auto; } }
  .footer .inner {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10vw;
    color: #FFF; }
    @media only screen and (max-width: 600px) {
      .footer .inner {
        padding: 60px 30px 30px; } }
  .footer .scramble h1 {
    font-size: 48px; }
  .footer .lower-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 600px) {
      .footer .lower-level {
        display: block;
        padding-top: 40px; } }
    .footer .lower-level > div {
      margin-right: 40px; }
      @media only screen and (max-width: 600px) {
        .footer .lower-level > div {
          margin-bottom: 30px; } }
    .footer .lower-level .title {
      font-size: 18px;
      margin-bottom: 14px;
      letter-spacing: 1px; }
    .footer .lower-level a {
      font-size: 14px;
      display: block;
      margin-bottom: 8px; }
    .footer .lower-level p {
      font-size: 14px;
      margin-bottom: 8px; }
      @media only screen and (max-width: 600px) {
        .footer .lower-level p {
          font-size: 16px;
          margin-bottom: 12px; } }
    .footer .lower-level .music > a.title {
      font-size: 18px;
      margin-bottom: 14px;
      letter-spacing: 1px; }
    .footer .lower-level .music a {
      font-size: 14px; }
      @media only screen and (max-width: 600px) {
        .footer .lower-level .music a {
          font-size: 16px; } }
      .footer .lower-level .music a span:last-child {
        display: block;
        margin-top: 8px;
        padding-left: 10px; }

.work-container {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  margin: 0 auto;
  background-color: #FFF; }
  @media only screen and (max-width: 600px) {
    .work-container {
      margin-bottom: 0; } }

.work-grid,
.work-letters {
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }

.work-wrap {
  padding: 15vh 10vw 150px; }
  @media only screen and (max-width: 600px) {
    .work-wrap {
      padding: 60px 30px 0; } }
  .work-wrap .work {
    position: relative;
    display: table;
    width: 550px;
    margin-bottom: 40px; }
    @media only screen and (max-width: 600px) {
      .work-wrap .work {
        width: 100%;
        margin-bottom: 60px; } }
    .work-wrap .work:hover .work-title span:after {
      width: 100%; }
    .work-wrap .work.work--layout-right {
      margin-left: auto; }
      .work-wrap .work.work--layout-right .work-image-wrapper {
        margin-left: auto; }
      .work-wrap .work.work--layout-right .work-title {
        right: 300px;
        left: auto; }
        @media only screen and (max-width: 600px) {
          .work-wrap .work.work--layout-right .work-title {
            top: -28px;
            left: 30px; } }
      .work-wrap .work.work--layout-right .work-link {
        right: auto;
        left: 43px; }
  .work-wrap .work-image-wrapper {
    position: relative;
    display: block;
    width: 420px;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-backface-visibility: hidden; }
    @media only screen and (max-width: 600px) {
      .work-wrap .work-image-wrapper {
        width: 100%; } }
  .work-wrap .work-image-shadow {
    position: absolute;
    z-index: -1;
    bottom: -.75em;
    left: 2.5%;
    display: block;
    width: 95%;
    height: 420px;
    content: '';
    -webkit-filter: blur(1.25em);
            filter: blur(1.25em);
    -webkit-backface-visibility: hidden; }
    @media only screen and (max-width: 600px) {
      .work-wrap .work-image-shadow {
        width: 95%;
        height: 360px; } }
  .work-wrap .work-image {
    width: 420px;
    height: 420px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 600px) {
      .work-wrap .work-image {
        width: 100%;
        height: 360px; } }
  .work-wrap .image-md {
    background-image: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/masterdynamic.jpg"); }
  .work-wrap .image-umbro {
    background-image: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/umbro.jpg"); }
  .work-wrap .image-tracksmith {
    background-image: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/tracksmith.jpg"); }
  .work-wrap .image-randco {
    background-image: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/randco.jpg"); }
  .work-wrap .image-becca {
    background-image: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/becca.jpg"); }
  .work-wrap .image-nr {
    background-image: url("https://s3-us-west-2.amazonaws.com/jamalpowell.com/img/nr.jpg");
    background-position: top; }
  .work-wrap .work-image-wrapper,
  .work-wrap .work-title {
    transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out; }
  .work-wrap .work-title {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 1.1;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 300px;
    white-space: nowrap;
    color: #0A0A0A; }
    @media only screen and (max-width: 600px) {
      .work-wrap .work-title {
        font-size: 48px;
        top: -28px;
        left: 30px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .work-wrap .work-title {
        font-size: 70px; } }
    .work-wrap .work-title span {
      position: relative; }
      .work-wrap .work-title span:after {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 45px;
        content: '';
        transition: width .4s ease;
        opacity: .3;
        background: linear-gradient(to right, #F0C27B, #4B1248); }
      .work-wrap .work-title span.new-line {
        margin-left: 35px; }
  .work-wrap .work-link {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.1;
    position: absolute;
    right: 43px;
    bottom: 0;
    transition: color .3s ease;
    color: #000; }
    @media only screen and (max-width: 600px) {
      .work-wrap .work-link {
        display: none; } }
    .work-wrap .work-link:hover {
      color: #4B1248; }

.work-letters span {
  position: absolute; }
  .work-letters span p {
    font-family: roboto;
    font-size: 480px;
    z-index: -1;
    opacity: .9;
    color: #000;
    background-image: linear-gradient(to right, #F0C27B, #4B1248);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media only screen and (max-width: 600px) {
      .work-letters span p {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); } }
  .work-letters span.w {
    top: -40px;
    right: 10vw; }
    @media only screen and (max-width: 600px) {
      .work-letters span.w {
        top: -60px;
        right: auto;
        left: -50%; } }
  .work-letters span.o {
    top: 900px;
    left: 3vw; }
    @media only screen and (max-width: 600px) {
      .work-letters span.o {
        top: 600px;
        left: -50%; } }
  .work-letters span.r {
    top: 1170px;
    left: 45vw; }
    @media only screen and (max-width: 600px) {
      .work-letters span.r {
        left: -50%; } }
  .work-letters span.k {
    top: 1700px;
    left: 25vw; }
    @media only screen and (max-width: 600px) {
      .work-letters span.k {
        left: -50%; } }
